@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
	font-family:'Dosis', sans-serif;
}

.header{
  background-color: green;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

h3{
  text-align: center;
}

.footer{
  background-color: green;
	  text-align: center;
	  padding-top: 50px;
	  padding-bottom: 50px;
	  color: #ffffff;
}
/*
.output{
  background-color: orange;
  color: #ffffff;
}*/